# *************************************************
#
# NLP/ML System - Configuration Settings
#
# *************************************************

[PATHS]
word_vec_model = 'data/wordvector_model_100_sep_10_stop_rem'
training_data_path = 'data/training_data.txt'
test_data = 'data/test_data.txt'
validation_data_path = 'data/preprocessed_train_data.csv'
train_csv_path = "data/preprocessed_train_data.csv"
test_csv_path = "data/preprocessed_test_data.csv"
train_embedding = "data/train_embed.pkl"
train_tag = "data/train_tag.pkl"
test_embedding = "data/test_embed.pkl"
test_tag = "data/test_tag.pkl"
tf_model = "model/model_max.ckpt"



[MODEL_PARAMS]
feature_vector_dim: 106
word_vec_dim: 100
learning_rate: 0.001
dropout_prob: 0.5
sentence_length: 35
rnn_size: 128
num_layers: 1
batch_size: 64
class_size: 3
epoch: 50




[WORD2VEC]
word_vec_dim: 100
window: 5
no_thread: 12
min_count: 1
no_iter: 500
sg: 1







